body {
  background-color: #171329;
  color: #BBBBBB;
}

body div {
  font-size: 200%;
  font-family: sans-serif;
  padding: 10% 12%;
  text-align: right;
}

blockquote {
  text-align: left;
}

cite {
  font-size: 80%;
  margin-right: 40px;
  padding-top: 40px;
  display: block;
}
