<div class="post-footer">
  <img src="http://www.gravatar.com/avatar/690982e7f370fedcc739dfdcf6b51d1f?s=100" alt="author photo" style="margin: 5px 10px; float: left;">

  <h3>by David Ernst</h3>

  <p>Liked this post? You can <i class="fa fa-twitter"></i> follow me <a href="https://twitter.com/dsernst" target="_blank">@dsernst</a>, &amp; sign up for <a href="http://dsernst.com/subscribe"><i class="fa fa-paper-plane-o"></i> email updates</a>. Or <a href="mailto:hello@dsernst.com?subject=RE: {{ page.title | cgi_escape }}&body=David, I just finished reading your article '{{ page.title | cgi_escape }}' {{ site.url }}{{ page.url }}.">write a private reply</a>.
</div>
